.tint-headline {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-top: 9.6rem;
}
.tint-headline__line {
  width: 72px;
  height: 1px;
  stroke-width: 2px;
  background-color: var(--primary-text);
}
.headline__p {
  color: var(--primary-text);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.tint-head-title {
  width: 750px;
  padding-left: 9.8rem;
  margin-top: 3.2rem;
  color: var(--primary-text);
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: auto;
  margin-right: auto;
}
.tint-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding-bottom: 9.6rem;
  margin-top: 6.5rem;
}
.tint-cart {
  width: 411px;
  height: 421px;
  border-radius: 12px;
  background: var(--black, #0b0706);
}
.juigli {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/done1.png");
}
.cart-title {
  width: 315px;
  color: #fff;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 150%;
  margin-top: 8rem;
  margin-right: 4.8rem;
  margin-left: 4.8rem;
  font-style: normal;
  font-weight: 700;
}
.cart-p {
  width: 315px;
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.6rem;
  margin-left: 4.8rem;
}

.tint-btn {
  margin-left: 4.8rem;
  border: 0;
  margin-top: 6.4rem;
  cursor: pointer;
}

.tint-btn:hover {
  background-color: var(--green-secondary);
}

.palm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/done2.png");
}
.desert {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/done3.png");
}
